{% extends 'base.html' %}


{% block title %}
    Empleados
{% endblock title %}
    

{% block content %}
    {% include 'includes/header.html' %}

    <div>
        <div>
            <h1>Lista Empleados</h1>
            <form method="GET"> {% csrf_token %}
                <!-- buscador y boton -->
                <div>
                    <!-- caja de texto -->
                    <input type="text" id="kword" name="kword" placeholder="Buscar Empleado">
                </div>
                <div>
                    <!-- boton buscar -->
                    <button type="submit">Buscar</button>
                </div>  
            </form>
            <div>
                <!-- tabla de empleados -->
                <table>
                    <thead>
                      <tr>
                        <th width="100">ID</th>
                        <th width="150">Nombres</th>
                        <th width="150">Apelidos</th>
                        <th width="150">Departamento</th>
                        <th width="50">Accion</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.id }}</td>
                                <td>{{ object.first_name }}</td>
                                <td>{{ object.last_name }}</td>
                                <td>{{ object.departamento }}</td>
                                <td><a class="button success" href="{% url 'empleado_app:ver_empleado' object.id %}">Ver</a></td> 
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <!-- {{object_list}} -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}
